* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg_color: #F6F8F9;
    --color1: #14AAF5;
    --color2: #AB5DE6;
    --color3: #2CC6AB;
    --color4: #FF9B00;
    --color5: #EC4A9D;
    --color6: #A3D116;
    --theme_color: #FFFFFF;
}

body {
    background-color: var(--bg_color);
}

#site_header {
    background-color: var(--theme_color);
    line-height: 100px;
    height: 100px;
}

.logo {
    display: inline;
    height: 5rem;
    vertical-align: middle;
}

.logo_title {
    display: inline;
    line-height: 3rem;
    vertical-align: middle;
    font-size: 2rem;
    font-family: 'Rubik', sans-serif;
    vertical-align: middle;
}

/*
#site_main {
    width: 60%;
    margin: 2rem auto;
    background-color: red;
    border-radius: 5px;
}
*/


#site_buttons {
    width: 60%;
    margin: 2rem auto 0;
    background-color: var(--theme_color);
    border-radius: 5px 5px 0 0;
    padding: 1.5rem 3rem;
    font-family: 'Rubik', sans-serif;
}


#add_task {
    display: inline;
    background-color: var(--color1);
    padding: 0.5rem;
    border-radius: 5px;
    color: white;
}

#add_section {
    display: inline;
    background-color: white;
    border: 1px solid lightgrey;
    padding: 0.5rem;
    border-radius: 5px;
    color: lightgrey;
}

#task_section {
    width: 60%;
    margin: 2px auto 2rem;
    background-color: var(--theme_color);
    border-radius: 0 0 5px 5px;
    padding: 3rem;
    font-family: 'Rubik', sans-serif;

}

h3 {
    margin-top: 1rem;
}

.task {
    margin:0.2rem 0;
}

/* tick - not tick */

.checked {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    line-height: 1rem;
    padding: 0 0.1rem;
    color: lightgreen;
    border: 1px solid lightgreen;
    border-radius: 50%;
    font-size: 0.75rem;
    
}

.not_checked {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    line-height: 1rem;
    padding: 0 0.1rem;
    color: lightcoral;
    border: 1px solid lightcoral;
    border-radius: 50%;
    font-size: 0.75rem;
    
}

/* notification button */

.notification {
    display: inline-block;
    padding: 0.3rem 0.7rem;
    border-radius: 8px;
    font-size: 0.6rem;
    color: white;
    font-weight: bold;
}

.editoriale {
    background-color: var(--color1);
}

.mobile {
    background-color: var(--color2);
}

.reunion {
    background-color: var(--color3);
}

.pizza {
    background-color: var(--color4);
}

.ananas {
    background-color: var(--color5);
}